grpc:
  server:
    port: 0
server:
  port: 0
spring:
  main:
    banner-mode: off
  liquibase:
    change-log: classpath:db/master.yaml
  application:
    name: address-service
  datasource:
    url: jdbc:postgresql://localhost:5555/address
    password: zveron_password
    username: zveron_user
  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
eureka:
  client:
    register-with-eureka: true
    tls:
      enabled: false
    webclient:
      enabled: true

---
spring:
  config:
    activate:
      on-profile: prod
server:
  port: 6060
grpc:
  server:
    port: 6061