spring:
  liquibase:
    change-log: classpath:db/master.yaml
  datasource:
    url: jdbc:postgresql://localhost:5555/address
    password: zveron_password
    username: zveron_user
  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    hibernate:
      ddl-auto: create