grpc:
  server:
    port: 0

  client:
    profile-service:
      address: 'discovery:///profile-service'
      enableKeepAlive: true # пока не оч ясно будет ли влиять я бы посмотрел
      keepAliveWithoutCalls: true # то же самое
      negotiationType: plaintext # пока что так, потом добавим всякие сертификаты

spring:
  main:
    banner-mode: off
    web-application-type: reactive

  liquibase:
    change-log: classpath:db/master.yaml
    url: jdbc:postgresql://localhost:5555/auth
    user: zveron_user
    password: zveron_password

  application:
    name: auth-service

  datasource:
    url: jdbc:postgresql://localhost:5555/auth
    password: zveron_password
    username: zveron_user

  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  r2dbc:
    url: r2dbc:postgresql://localhost:5555/auth
    username: zveron_user
    password: zveron_password
    pool:
      enabled: true

  task:
    scheduling:
      pool:
        size: 5
      shutdown:
        await-termination: true
      thread-name-prefix: 'AuthThreadPoolTaskExecutor'

eureka:
  client:
    webclient:
      enabled: true
    register-with-eureka: true
    fetch-registry: true
    enabled: true

  instance:
    metadata-map:
      AuthService: 'auth.proto'

server:
  port: 0

clients:
  notifier:
    baseUrl: http://localhost:8085


zveron:
  jwt:
    #create something legit and put in vault
    secret: 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789'
    accessDurationMs: 600000  # 10 mins
    refreshDurationMs: 2629800000 # 100 mins
  session:
    sessionDurationMs: 2629800000 # 1 month
  flow-state:
    expirationMs: 300_000 # 5 minutes
  cron:
    session:
      rate-in-ms: 60_000
    flow-context:
      rate-in-ms: 60_000

logging:
  level:
    ru.zveron.authservice.cron: INFO


platform:
  grpc:
    apigateway:
      metadata: false
    client:
      logging-enabled: true
    server:
      logging-enabled: true