grpc:
  server:
    port: 0
spring:
  main:
    banner-mode: off
    web-application-type: reactive
  liquibase:
    change-log: classpath:db/master.yaml
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://localhost:5555/auth
    password: zveron_password
    username: zveron_user
  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  r2dbc:
    url: r2dbc:postgresql://localhost:5555/auth
    username: zveron_user
    password: zveron_password
    pool:
      enabled: true

eureka:
  client:
    webclient:
      enabled: true
    register-with-eureka: true
    fetch-registry: false
    enabled: true
  instance:
    metadata-map:
      AuthService: 'auth.proto'

server:
  port: 0

clients:
  notifier:
    baseUrl: http://localhost:8085
