spring:
  main:
    banner-mode: off
    allow-bean-definition-overriding: true

  liquibase:
    change-log: classpath:db/master.yaml

  application:
    name: specialist-service

  datasource:
    url: jdbc:postgresql://localhost:5555/specialist
    password: zveron_password
    username: zveron_user

  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

grpc:
  server:
    port: 0

eureka:
  client:
    webclient:
      enabled: false
    register-with-eureka: true
    fetch-registry: true
    enabled: true
  instance:
    metadata-map:
      ManageSpecialistExternalService: 'external/manage_specialist_external.proto'

platform:
  grpc:
    apigateway:
      metadata: true
    client:
      logging-enabled: false
    server:
      logging-enabled: true

server:
  port: 0