version: "3.4"

x-logging:
  &loki-logging
  driver: loki
  options:
    loki-url: https://378511:eyJrIjoiNWI2YmFjOTM0YjZkY2ZmMzMxODk4MWQ1YTcwODE3YWEyNGFlYzRhNyIsIm4iOiJsb2tpLXRlc3QtMiIsImlkIjo3ODg1ODR9@logs-prod-013.grafana.net/loki/api/v1/push

services:
  db:
    logging: *loki-logging
    restart: always
    container_name: db
    image: 'postgres:13.9-alpine'
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - TZ=Europe/Moscow
      - PGTZ=Europe/Moscow
    expose:
      - 5432
    ports:
      - "5555:5432"
    volumes:
      - ./db:/docker-entrypoint-initdb.d

  pgadmin:
    restart: always
    image: dpage/pgadmin4
    container_name: pgadmin
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: ya@frontender.com
      PGADMIN_DEFAULT_PASSWORD: 123

  registry:
    logging: *loki-logging
    restart: always
    container_name: registry
    platform: linux/amd64
    image: ghcr.io/zveronhse/service_registry
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/blacklist
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
      - HOSTNAME=service-registry
    ports:
      - "8082:8761"
    depends_on:
      - db

  apigateway:
    logging: *loki-logging
    restart: always
    container_name: apigateway
    platform: linux/amd64
    image: 992de643d4375030d1f458f97c544720ed467917e866177f660fca9be2278c58
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/apigateway
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
      - SPRING_LIQUIBASE_URL=jdbc:postgresql://db:5432/apigateway
      - SPRING_R2DBC_URL=r2dbc:postgresql://db:5432/apigateway
    ports:
      - "8085:8080" #macos has fcking mcaffee on port 8081
      - "8080:9091"
    depends_on:
      - db
      - registry

  address_service:
    logging: *loki-logging
    restart: always
    container_name: address_service
    platform: linux/amd64
    image: ghcr.io/zveronhse/address_service
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/address
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
    depends_on:
      - db
      - registry

  blacklist_service:
    logging: *loki-logging
    restart: always
    container_name: blacklist_service
    platform: linux/amd64
    image: ghcr.io/zveronhse/blacklist_service
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/blacklist
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
    depends_on:
      - db
      - registry

  favorites_service:
    logging: *loki-logging
    restart: always
    container_name: favorites_service
    platform: linux/amd64
    image: ghcr.io/zveronhse/favorites_service
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/favorites
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
    depends_on:
      - db
      - registry

  parameter_service:
    logging: *loki-logging
    restart: always
    container_name: parameter_service
    platform: linux/amd64
    image: ghcr.io/zveronhse/parameter_service
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/parameter
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
    depends_on:
      - db
      - registry

  profile_service:
    logging: *loki-logging
    restart: always
    container_name: profile_service
    platform: linux/amd64
    image: ghcr.io/zveronhse/profile_service
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/profile
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
    depends_on:
      - db
      - registry

  auth-service:
    logging: *loki-logging
    restart: always
    container_name: auth-service
    platform: linux/amd64
    image: ghcr.io/zveronhse/auth-service
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/auth
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
      - SPRING_LIQUIBASE_URL=jdbc:postgresql://db:5432/auth
      - SPRING_R2DBC_URL=r2dbc:postgresql://db:5432/auth
    depends_on:
      - db
      - registry

  lot-service:
    logging: *loki-logging
    restart: always
    container_name: lot_service
    platform: linux/amd64
    image: ghcr.io/zveronhse/lot_service
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/lot
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
    depends_on:
      - db
      - registry
