version: "3.4"

x-logging:
  &loki-logging
  driver: loki
  options:
    loki-url: https://378511:${GRAFANA_API_TOKEN}@logs-prod-013.grafana.net/loki/api/v1/push


services:
  db:
    logging: *loki-logging
    restart: always
    container_name: db
    image: 'postgres:13.9-alpine'
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - TZ=Europe/Moscow
      - PGTZ=Europe/Moscow
    expose:
      - 5432
    ports:
      - "5555:5432"
    volumes:
      - ./db:/docker-entrypoint-initdb.d
      - ./db_data:/var/lib/postgresql/data
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 128M

  scylla_db:
    restart: always
    container_name: scylla_db
    image: 'scylladb/scylla:5.1'
    volumes:
      - type: volume
        source: db_scylla
        target: /var/lib/scylla
        volume:
          nocopy: true
    expose:
      - 7000
      - 9042
    ports:
      - "7000:7000"
      - "9042:9042"
    deploy:
      resources:
        limits:
          cpus: '2.0'
          memory: 3G
        reservations:
          cpus: '0.5'
          memory: 1G

  pgadmin:
    restart: always
    image: dpage/pgadmin4
    container_name: pgadmin
    profiles:
      - "local"
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: ya@frontender.com
      PGADMIN_DEFAULT_PASSWORD: 123

  registry:
    logging: *loki-logging
    restart: always
    container_name: registry
    platform: linux/amd64
    image: ghcr.io/zveronhse/service_registry
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/blacklist
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "8082:8761"
    depends_on:
      - db
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 128M

  apigateway:
    logging: *loki-logging
    restart: always
    container_name: apigateway
    platform: linux/amd64
    image: ghcr.io/zveronhse/apigateway
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/apigateway
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
      - SPRING_LIQUIBASE_URL=jdbc:postgresql://db:5432/apigateway
      - SPRING_R2DBC_URL=r2dbc:postgresql://db:5432/apigateway
    ports:
      - "8085:8080" #macos has fcking mcaffee on port 8081
      - "80:9091"
    depends_on:
      - db
      - registry
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 128M

  address_service:
    logging: *loki-logging
    restart: always
    container_name: address_service
    platform: linux/amd64
    image: ghcr.io/zveronhse/address_service
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/address
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
    depends_on:
      - db
      - registry
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 128M

  blacklist_service:
    logging: *loki-logging
    restart: always
    container_name: blacklist_service
    platform: linux/amd64
    image: ghcr.io/zveronhse/blacklist_service
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/blacklist
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
    depends_on:
      - db
      - registry
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 128M

  favorites_service:
    logging: *loki-logging
    restart: always
    container_name: favorites_service
    platform: linux/amd64
    image: ghcr.io/zveronhse/favorites_service
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/favorites
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
    depends_on:
      - db
      - registry
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 128M

  parameter_service:
    logging: *loki-logging
    restart: always
    container_name: parameter_service
    platform: linux/amd64
    image: ghcr.io/zveronhse/parameter_service
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/parameter
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
    depends_on:
      - db
      - registry
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 128M

  profile_service:
    logging: *loki-logging
    restart: always
    container_name: profile_service
    platform: linux/amd64
    image: ghcr.io/zveronhse/profile_service
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/profile
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
    depends_on:
      - db
      - registry
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 128M

  auth-service:
    logging: *loki-logging
    restart: always
    container_name: auth-service
    platform: linux/amd64
    image: ghcr.io/zveronhse/auth-service
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/auth
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
      - SPRING_LIQUIBASE_URL=jdbc:postgresql://db:5432/auth
      - SPRING_R2DBC_URL=r2dbc:postgresql://db:5432/auth
    depends_on:
      - db
      - registry
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 128M

  lot-service:
    logging: *loki-logging
    restart: always
    container_name: lot_service
    platform: linux/amd64
    image: ghcr.io/zveronhse/lot_service
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/lot
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
    depends_on:
      - db
      - registry
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 128M

  order-service:
    logging: *loki-logging
    restart: always
    container_name: order-service
    platform: linux/amd64
    image: ghcr.io/zveronhse/order-service
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/order
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
      - SPRING_LIQUIBASE_URL=jdbc:postgresql://db:5432/order
      - SPRING_R2DBC_URL=r2dbc:postgresql://db:5432/order
    depends_on:
      - db
      - registry
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 128M


  object-storage:
    logging: *loki-logging
    restart: always
    container_name: object-storage
    platform: linux/amd64
    image: ghcr.io/zveronhse/object-storage
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - S3_ACCESS_KEY_ID=${S3_ACCESS_KEY_ID}
      - S3_SECRET_ACCESS_KEY=${S3_SECRET_ACCESS_KEY}
    depends_on:
      - registry
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 128M

  chat_service:
    logging: *loki-logging
    restart: always
    container_name: chat_service
    platform: linux/amd64
    image: ghcr.io/zveronhse/chat_service
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_DATA_CASSANDRA_CONTACT-POINTS=scylla_db
    depends_on:
      - scylla_db
      - registry
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 128M

volumes:
  db_data:
  db_scylla: