spring:
  liquibase:
    enabled: true
    change-log: classpath:db/master.yaml
  datasource:
    url: jdbc:postgresql://localhost:5555/apigateway
    password: zveron_password
    username: zveron_user
  main:
    banner-mode: off
    web-application-type: reactive
  application:
    name: apigateway

eureka:
  client:
    enabled: true
    webclient:
      enabled: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
    register-with-eureka: false
  instance:
    prefer-ip-address: true
management:
  endpoint:
    serviceregistry:
      enabled: true

grpc:
  client:
    GLOBAL:
      security:
        protocols: PLAINTEXT
      immediate-connect-timeout: 30s

  server:
    port: 0
