spring:
  liquibase:
    enabled: false
  datasource:
    url: jdbc:postgresql://localhost:5555/address
    password: zveron_password
    username: zveron_user
  main:
    banner-mode: off
  cloud:
    loadbalancer:
      retry:
        backoff:
          max-backoff: 100s

eureka:
  client:
    enabled: true
    webclient:
      enabled: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
    register-with-eureka: false
  instance:
    prefer-ip-address: true
management:
  endpoint:
    serviceregistry:
      enabled: true

grpc:
  client:
    GLOBAL:
      security:
        protocols: PLAINTEXT
      immediate-connect-timeout: 30s
      full-stream-decompression: true
      shutdown-grace-period: -1

  server:
    port: 0

logging:
  level:
    kotlinx.coroutines.internal: TRACE
    org.springframework.web.reactive.function.client: TRACE
    net.devh.boot.grpc.client: TRACE
    net.devh.boot.grpc.server: TRACE
    io.grpc: TRACE
