grpc:
  server:
    port: 6566
server:
  port: 7566
spring:
  main:
    banner-mode: off
  liquibase:
    change-log: classpath:db/master.yaml
  application:
    name: blacklist-service
  datasource:
    url: jdbc:postgresql://localhost:5555/blacklist
    password: zveron_password
    username: zveron_user
  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
eureka:
  client:
    register-with-eureka: true
    tls:
      enabled: false
    webclient:
      enabled: true