grpc:
  server:
    port: 0
  client:
    GLOBAL:
      shutdown-grace-period: -1

server:
  port: 0
spring:
  main:
    banner-mode: off
  liquibase:
    change-log: classpath:db/master.yaml
  application:
    name: blacklist-service
  datasource:
    url: jdbc:postgresql://localhost:5555/blacklist
    password: zveron_password
    username: zveron_user
  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

eureka:
  instance:
    metadata-map:
      BlacklistService: 'crud.proto'
  client:
    register-with-eureka: true
    tls:
      enabled: false