<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <springProfile name="prod">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <findAndRegisterJacksonModules>true</findAndRegisterJacksonModules>
                <providers>
                    <pattern>
                        <omitEmptyFields>true</omitEmptyFields>
                        <pattern>
                            {
                            "connection-id": "%mdc{connection-id}"
                            }
                        </pattern>
                    </pattern>
                    <pattern>
                        <omitEmptyFields>true</omitEmptyFields>
                        <pattern>
                            {
                            "node-id": "%mdc{node-id}"
                            }
                        </pattern>
                    </pattern>
                    <timestamp>
                        <fieldName>ts</fieldName>
                        <timeZone>UTC</timeZone>
                    </timestamp>
                    <threadName>
                        <fieldName>thread</fieldName>
                    </threadName>
                    <logLevel/>
                    <loggerName>
                        <fieldName>logger</fieldName>
                    </loggerName>
                    <message/>
                    <arguments>
                        <includeStructuredArguments>true</includeStructuredArguments>
                    </arguments>
                    <logstashMarkers/>
                    <rootStackTraceElement/>
                    <stackTrace/>
                    <throwableRootCauseClassName/>
                    <throwableClassName/>
                </providers>
            </encoder>
        </appender>
    </springProfile>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
    <logger name="ru.zveron" level="DEBUG"/>

</configuration>