spring:

  liquibase:
    enabled: true
    change-log: classpath:db/master.yaml
    url: jdbc:postgresql://localhost:5555/order-service
    user: zveron_user
    password: zveron_password

  datasource:
    url: jdbc:postgresql://localhost:5555/order-service
    password: zveron_password
    username: zveron_user

  main:
    banner-mode: off
    web-application-type: reactive

  application:
    name: order-service

  r2dbc:
    url: r2dbc:postgresql://localhost:5555/order-service
    username: zveron_user
    password: zveron_password
    pool:
      enabled: true

  netty:
    leak-detection: advanced

  jpa:
    show-sql: true
  jooq:
    sql-dialect: postgres

eureka:

  client:
    enabled: true
    webclient:
      enabled: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
    register-with-eureka: true

  instance:
    metadata-map:
      OrderWaterfallServiceExternal: 'external/external_order_waterfall.proto'
      OrderServiceExternal: 'external/external_order_crud.proto'
      OrderCustomerServiceExternal: 'external/external_customer_crud.proto'
    prefer-ip-address: true

management:
  endpoint:
    serviceregistry:
      enabled: true

grpc:
  server:
    port: 9093

  client:
    profile:
      address: 'discovery:///profile-service'
      enableKeepAlive: true
      keepAliveWithoutCalls: true
      negotiationType: plaintext

    animal:
      address: 'discovery:///profile-service'
      enable-keep-alive: true
      keep-alive-without-calls: true
      negotiation-type: plaintext

    subway:
      address: 'discovery:///address-service'
      enable-keep-alive: true
      keep-alive-without-calls: true
      negotiation-type: plaintext


server:
  port: 0

# noinspection SpringBootApplicationYaml
platform:
  grpc:
    apigateway:
      metadata: true
    client:
      tracing-enabled: false
      logging-enabled: false
    server:
      tracing-enabled: true
      logging-enabled: true
