grpc:
  server:
    port: 0
  client:
    blacklist-service:
      address: 'discovery:///blacklist-service'
      enableKeepAlive: true
      keepAliveWithoutCalls: true
      negotiationType: plaintext
    address-service:
      address: 'discovery:///address-service'
      enableKeepAlive: true
      keepAliveWithoutCalls: true
      negotiationType: plaintext
    lot-service:
      address: 'discovery:///lot-service'
      enableKeepAlive: true
      keepAliveWithoutCalls: true
      negotiationType: plaintext
server:
  port: 0
spring:
  main:
    banner-mode: off
  liquibase:
    change-log: classpath:db/master.yaml
  application:
    name: profile-service
  datasource:
    url: jdbc:postgresql://localhost:5555/profile
    password: zveron_password
    username: zveron_user
  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
    enabled: true
  instance:
    metadata-map:
      ProfileServiceExternal: 'profile_external.proto'