name: "Rebuild docker images of affected modules"

on:
  push:
    branches: ['feature/ZV-281-CD']

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

#      - name: Set up Docker Buildx
#        uses: docker/setup-buildx-action@v2
#
#      - name: Log in to the Container registry
#        uses: docker/login-action@v2
#        with:
#          registry: ghcr.io
#          username: ${{ github.actor }}
#          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get changed files
        shell: bash
        run: |
          git fetch origin master
          (git diff origin/master HEAD --name-only | cut -d "/" -f1 | uniq) >> temp.txt
          while read p; do
            if [[ "$p" =~ ^[a-zA-Z_-]*$ ]]; then
              export "$p"="$p" >> $GITHUB_ENV
              echo "$p CHANGED"
            fi
          done <temp.txt
          env

      - name: Check
        shell: bash
        run: env

#      - name: Build and push Docker image
#        if: env.blacklist_service == 'blacklist_service'
#        uses: docker/build-push-action@v2
#        with:
#          context: .
#          file: blacklist_service/Dockerfile
#          push: true
#          tags: zveron/blacklist_service:latest