name: "Test affected modules"

on:
  pull_request:
    types: [ labeled ]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'adopt'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Test blacklist service
        if: contains(github.event.pull_request.labels.*.name, 'blacklist')
        run: gradle :blacklist_service:test

      - name: Test address service
        if: contains(github.event.pull_request.labels.*.name, 'address')
        run: gradle :address_service:test