name: "Test affected modules"

on:
  - pull_request
  - merge_group

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: Address Service
            gradle: address_service

          - name: API Gateway
            gradle: apigateway

          - name: Blacklist Service
            gradle: blacklist_service

          - name: Favorites Service
            gradle: favorites_service

          - name: Parameter Service
            gradle: parameter_service

          - name: Profile Service
            gradle: profile_service

          - name: Lot Service
            gradle: lot_service

          - name: Service Registry
            gradle: service_registry

          - name: Auth Service
            gradle: auth-service

          - name: Object Storage
            gradle: object-storage

          - name: Push Notification
            gradle: push_notification

          - name: Chat Service
            gradle: chat_service

          - name: Service management service
            gradle: service-management-service

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Get changed files
        shell: bash
        run: |
          git fetch origin dev
          (git diff origin/dev HEAD --name-only | cut -d "/" -f1 | uniq) >> temp.txt

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2.3.0

      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17.0.3
          distribution: 'adopt'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 7.4.1

      - name: Test ${{ matrix.name }}
        shell: bash
        run: if grep -q "${{ matrix.gradle }}" "temp.txt"; then gradle :${{ matrix.gradle }}:test --stacktrace; fi

  check:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - run: echo Check success!