name: "Test affected modules"

on:
  - pull_request

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Get changed files
        shell: bash
        run: |
          git fetch origin master
          (git diff origin/master HEAD --name-only | cut -d "/" -f1 | uniq) >> temp.txt

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'adopt'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Test blacklist service
        shell: bash
        run: if grep -q "blacklist_service" "temp.txt"; then gradle :blacklist_service:test; fi

      - name: Test address service
        shell: bash
        run: if grep -q "address_service" "temp.txt"; then gradle :address_service:test; fi

      - name: Test favorites service
        shell: bash
        run: if grep -q "favorites_service" "temp.txt"; then gradle :favorites_service:test; fi

      - name: Test parameter service
        shell: bash
        run: if grep -q "parameter_service" "temp.txt"; then gradle :parameter_service:test; fi
        
      - name: Test profile service
        shell: bash
        run: if grep -q "profile_service" "temp.txt"; then gradle :profile_service:test; fi
