name: "Test affected modules"

on:
  - pull_request
  - merge_group

jobs:
  test:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        include:
          - name: Address Service
            gradle: address_service

          - name: API Gateway
            gradle: apigateway

          - name: Blacklist Service
            gradle: blacklist_service

          - name: Favorites Service
            gradle: favorites_service

          - name: Parameter Service
            gradle: parameter_service

          - name: Profile Service
            gradle: profile_service

          - name: Lot Service
            gradle: lot_service

          - name: Service Registry
            gradle: service_registry

          - name: Auth Service
            gradle: auth-service

          - name: Object Storage
            gradle: object-storage

          - name: Push Notification
            gradle: push_notification

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2.3.0

      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17.0.3
          distribution: 'adopt'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 7.4.1

      - name: Test ${{ matrix.name }}
        shell: bash
        run: gradle :${{ matrix.gradle }}:test --stacktrace
        with:
          context: .