grpc:
  server:
    port: 0
server:
  port: 0
spring:
  main:
    banner-mode: off
  application:
    name: parameter-service
  liquibase:
    change-log: classpath:db/master.yaml
  datasource:
    url: jdbc:postgresql://localhost:5555/parameter
    password: zveron_password
    username: zveron_user
  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

eureka:
  client:
    register-with-eureka: true
    tls:
      enabled: false
  instance:
    metadata-map:
      CategoryExternalService: 'external/category.proto'
      ParameterExternalService: 'external/parameter.proto'


platform:
  grpc:
    apigateway:
      metadata: false
    client:
      logging-enabled: false
    server:
      logging-enabled: true